
body {
    background-color: #007bff;
}
button {
    margin: 10px;
}
.column-container {
    display: flex;
    flex-flow: row nowrap;
}

.button-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.display-column {
    width: calc(100% - 180px);
}